# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
.env/


# mypy cache
.mypy_cache/

# Data & logs
data/*.db
data/*.csv

# Streamlit cache
.streamlit/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
